<%- include("partials/header") -%>

<h1 style="margin-bottom: 20px; text-align: center; padding: 10px;" >About Us: Team Kanyaraasi</h1>

<div class="about-us">
    <div class="about-profile-cards">
        <div style="align-self: center;" class="img">
            <img src="./assets/akaashimg.jpg" style="height: 5cm;  border-radius: 50%;">
        </div>
        <div class="content">
            <p>Akaash Gupta</p>
            <p>B.Tech CSE - 2022</p>
            <p>220332</p>
            <p>Description: </p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>
        </div>
    </div>
    <div class="about-profile-cards">
        <div style="align-self: center;" class="img">
            <img src="./assets/aryanimg.jpg" style="height: 5cm;  border-radius: 50%;">
        </div>
        <div class="content">
            <p>Aryan Rongali</p>
            <p>B.Tech CSE - 2022</p>
            <p>220340</p>
            <p>Description: </p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>
        </div>
    </div>
    <div class="about-profile-cards">
        <div style="align-self: center;" class="img">
            <img src="./assets/karthikimg.jpg" style="width: 4.3cm; height: 5cm;  border-radius: 50%;">
        </div>
        <div class="content">
            <p>Karthik Singidi</p>
            <p>B.Tech CSE - 2022</p>
            <p>220332</p>
            <p>Description: </p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>
        </div>
    </div>
    <div class="about-profile-cards">
        <div style="align-self: center;" class="img">
            <img src="./assets/akshayimg.jpg" style="height: 5cm; width: 4cm; border-radius: 50%;">
        </div>
        <div class="content">
            <p>Akshay Korrapati</p>
            <p>B.Tech CSE - 2022</p>
            <p>220360</p>
            <p>Description: </p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>
        </div>
    </div>
</div>



<%- include("partials/footer") -%>