<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <style>
        .container {
            padding: 0;
            margin: 0;
            width: 100vw;
        }

        .navbar {
            padding-left: 60px;
            padding-bottom: 10px ;
        }

        .footer {
            margin: 0;
        }
    </style>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY JOURNAL</p>
            </div>
        </div>
    </nav>

<body>
    <div class="container">

        <div class="main">
            <h1 class="welcome">Welcome to Daily Journal</h1>

            <div class="create-blog">
                <h2>Create a Blog</h2>
                <p class="main-content">Share your unique story and stand out in the vast world of adventures. Join us
                    now
                    to ensure your
                    narrative reaches the world before it's too late. Don't let your experiences go unnoticed – sign up
                    and
                    make your mark in the tapestry of life's extraordinary tales. </p>
                <div class="blog-content">
                    <img class="blog-img" src="https://help.webriti.com/wp-content/uploads/2017/11/elite-docrep-24.png"
                        alt="webimage">
                    <div class="signup-buttons">
                        <h2>LOGIN</h2>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <table style="width:100%; margin:0 auto;">
                                    <tr>
                                        <td><label for="email">Email:</label></td>
                                        <td><input type="email" id="email" name="email" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="password">Password:</label></td>
                                        <td><input type="password" id="password" name="password" required></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center;">
                                            <button type="submit" style="width: 10rem; "
                                                class="signup-btn btn">Login</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-padding"></div>
    <div class="footer">
        <p>Made by Team KanyaRaasi</p>
    </div>
    </div>
</body>

</html>